*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 15, 15, 0.81);
}
.clock{
    border: 1px solid #606066;
    color: rgb(39, 40, 38);
    padding: 40px;
    border-radius: 50px;
    background-color: #e1e1ec;
}
#date{
    font-size:30px !important;
    text-align: center; 
    display: flex;
}
.clock ul{
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 15px;

}